body{
    color:green;
    background-image:url(https://wallpaperaccess.com/full/1567846.jpg);
}

.bold{
    color:rgb(97, 6, 89);
    font-size: 20px;
}

#camera{
    width: 350px;
    height: 300px;
    border: 2px dashed rgb(155, 9, 147);
}

#result_object_name,#result_object_accuracy{
    color: rgb(71, 13, 95);
    font-size:20px;
}
